<h1>Tweet一覧</h1>
<p>あなたが投稿したつぶやきは以下です！</p>
<table>
  <tr>
    <th>Tweet内容</th>
  </tr>
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to 'Tweet詳細', tweet_path(tweet.id) %></td>
    <td><%= link_to 'Tweet編集', edit_tweet_path(tweet.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくTweetを投稿する', new_tweet_path %>
